* {
    box-sizing: border-box;
  }
  
  body {
    background-image: url("../images/bluebackground.png");
    background-size: 1800px; 
    text-align: center;
    color: white; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: small;  
  }

  .swiper-container {
    font-size: larger; 
    margin-top: 100px; 
    width: 500px;
    height: 430px;
  }

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: turquoise;
}

  .footer {
    color: black; 
    text-align: center;
    border-top-color: rgb(26, 182, 169);
    border-top-style: solid;
    border-top-width: 10px;
    background-color: rgb(207, 231, 207); 
    padding: 10px; 
    clear: both; 
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 110%;
  }

  @media only screen and (max-width: 520px) {
      .swiper-container {
        width: 300px;
        height: 350px;
      }
    }  